a.brand-logo{
    font-family: 'Raleway', sans-serif;
    margin-left: 10px; 
    font-weight: bold
}

div.section.deep-purple{
    height: 70%
}

div.container.col.s6{
    margin-top: 6%;
}

h2.white-text{
    font-weight: bold;
    width: 65%;
    text-align: left
}

p.white-text{
    font-size: 30px;
    margin-right: 1.4%
}

div.div2.container.col.s6{
    margin-top: 50px;
}

img{
    padding: 5px
}

a img:hover{
    opacity: 70%
}

@keyframes opacity{
    0% {opacity: 1}
    20% {opacity: 0.9;}
    40% {opacity: 0.8;}
    60% {opacity: 0.7;}
    80% {opacity: 0.6;}
    100% {opacity: 0.5;}
}

i{
    position: absolute;
    right: 29.5%;
    top: 20.5%;
    visibility: hidden;
    opacity: 0
}

img:hover{
    animation: opacity 0.5s forwards;
}

h3.title-comments{
    font-weight: bold;
}

h5.comments{
    font-weight: bold;
}

p.comments{
    text-align: justify;
    width: 69%;
    font-size: 16px
}

a.comments p{
    text-align: left;
    margin-left: 15.5%;
    color: #7e57c2;
    font-size: 16px
}

a.comments p:hover{
    color: #9575cd
}

p#comments2{
    margin-left: 6%
}

a.comments p#comments2{
    margin-left: 18.5%
}

p#comments3{
    margin-left: 3.8%
}

a.comments p#comments3{
    margin-left: 17.5%
}

h4.white-text{
    font-weight: bold
}
